@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

--root {
  /* ?Main background */
  --Verydarkblue: #090b1a;

  /* ?Card background */
  --Darkdesaturatedblue:#1b1938;

  /* ?Accent */
  --Softviolet:#aa5cdb;

  /* *Main heading stats */
  --White: #ffffff;

  /* *Main paragraph */
  --Slightlytransparentwhite: #ffffff;

  /* *Stat headings */
  --Slightlytransparentwhite: #ffffff;

  --Fontsize: 15px;
  --Inter: "Inter";
  --LuxendDeca: "Luxend Deca";
}

img{
    max-width: 100%;
}

body{
    background-color: var(--Verydarkblue);
}
